[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

ipython = "*"
ipdb = "*"
readable-log-formatter = "*"

[packages]

"e1839a8" = {path = ".", editable = true}
django = "*"
"psycopg2" = "*"
social-auth-app-django = "*"
dj-database-url = "*"
raven = "*"
python-json-logger = "*"
"python3-openid" = "*"


[requires]

python_version = "3.6"
