<div class="card mb-4" id="{{ return.pk }}">
  <div class="card-body">
    <a href="{% url "dash:return_detail" pk=return.pk  %}"
       class="float-right badge badge-{% if return.success %}success{% else %}danger{% endif %}">
      {% if return.success %}√{% else %}x{% endif %}
    </a>
    {% if return.is_state %}
      <small class="text-muted float-right">{{ return.duration|floatformat:2 }}ms</small>
    {% endif %}

    <h5 class="card-title">
      <code><a href="{% url "dash:return_detail" pk=return.pk  %}">
        {{ return.id }}
      </a></code>
    </h5>

    {% if return.is_state %}
      {% if return.states_failed > 0 %}
        <a href="#"
           data-toggle="collapse"
           data-button-toggle-class="danger"
           data-target='div#result-{{ return.pk }} [data-state-status="failed"]'
           class="btn btn-sm btn-danger">{{ return.states_failed }} failed</a>
      {% endif %}

      {% if return.states_failed_requisite > 0 %}
        <a href="#"
           data-toggle="collapse"
           data-button-toggle-class="warning"
           data-target='div#result-{{ return.pk }}
           [data-state-status="failed-requisite"]'
           class="btn btn-sm btn-outline-warning">{{ return.states_failed_requisite }} failed req</a>
      {% endif %}

      {% if return.states_changed > 0 %}
        <a href="#"
           data-toggle="collapse"
           data-button-toggle-class="success"
           data-target='div#result-{{ return.pk }} [data-state-status="changed"]'
           class="btn btn-sm btn{% if collapsed %}-outline{% endif %}-success">{{ return.states_changed }} changed</a>
      {% endif %}

      {% if return.states_unchanged > 0 %}
        <a href="#"
           data-toggle="collapse"
           data-button-toggle-class="secondary"
           data-target='div#result-{{ return.pk }} [data-state-status="unchanged"]'
           class="btn btn-sm btn-outline-secondary">{{ return.states_unchanged }} unchanged</a>
      {% endif %}

      <div id="result-{{ return.pk }}">
        {% include "dash/_results/"|add:return.result_type|add:".html" with return=return %}
      </div>
    {% else %}

      {# not state output, just text/json #}
      {% if collapsed %}
      <a href="#result-{{ return.pk }}"
         data-toggle="collapse"
         class="text-muted{% if return.success %}  collapsed{% endif %}">Show/hide results</a>
      {% endif %}
      {% if return.return_val %}
        <div id="result-{{ return.pk }}"
             class="collapse {% if not collapsed or not return.success %}show{% endif %}">
          {% include "dash/_results/"|add:return.result_type|add:".html" with return=return %}
        </div>
      {% endif %}
    {% endif %}
  </div>

  {% if return.completed %}
    <div class="card-footer text-muted">
      {{ return.completed }}
    </div>
  {% endif %}
</div>
